/* container */
.container {
    width: 1000px; 
    margin: 0 auto;
    /* background: #ccc; */
}

/* row */
.row {
    position: relative; 
    margin: 0 20px; 
}

/* header */
#header {
    height: auto;
}
.header-date {
    /* width: 15%; */
    font-weight: 600;
    font-size: 12px;
    padding-top: 30px;
    display: block;
    color: #A8A8A8;
    text-align: left;
}
.header-title {
    /* width: 20%; */
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.header-id {
    position: absolute;
    right: 0; bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(164, 169, 181, 0.2) 0%, rgba(164, 169, 181, 0.2) 0.01%, rgba(164, 169, 181, 0) 100%), #C4C4C4;
}
.header-id span {
    display: block;
    text-align: center;
    line-height: 40px;
}

/* main */

.bt-stit {
    font-weight: 590;
    font-size: 14px;
    color: #DA5E7C;
}
.bt-tit {
    font-weight: 590;
    font-size: 22px;
    color: #000;
    padding-bottom: 5px;
}
.bt-desc {
    font-weight: 274;
    font-size: 22px;
    color: #818181;
    margin-bottom: 10px;
}

/* responsive */
@media (max-width: 1020px) {
    .container {
        width: 100%; 
    }
}